.container {
  max-width: 700px;
  margin: 4rem auto;
}

.info {
  display: flex;

  font-size: 0.875rem;
  margin-top: 1.5rem;
  color: var(--info);

  time,
  span {
    display: flex;
    align-items: center;
    line-height: 1.0625rem;

    svg {
      height: 20px;
      width: 20px;
      margin-right: 8px;
    }
  }

  time + span,
  span + time {
    margin-left: 1.5rem;
  }
}

.preview {
  width: 100%;
  height: 3.625rem;

  display: block;
  background: var(--heading);
  border-radius: 4px;

  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: var(--background);
  text-align: center;
  padding: 1rem;

  margin: 5rem 0;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
